.divide, .divider, .sdivide, small.divide, small.divider {
    display: inline-block;
    padding: 0;
    margin-left: 7px;
    color: transparent;
    position: relative;
}
.divide:before, .divider:before, .sdivide:before, small.divide:before, small.divider:before {
    content: "\00b7";
    color: #939393;
    padding: 0 1px;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    pointer-events: none;
    position: relative;
    left: -3px;
}
.separator {
    border-top: 1px solid #e7e8ec;
    margin: 10px 0px;
}

/* --- --- */

.num_delim {
    font-size: 60%!important;
    vertical-align: top!important;
    line-height: 60%;
}
a .num_delim {
    vertical-align: baseline!important;
}