<h2 class="page_block_h2 page_info_header_tabs">
    <ul class="ui_tabs clear_fix page_info_tabs" onmouseover="uiTabs.tryInit(this)" data-inited="1">
        <li>
            <div class="ui_tab ui_tab_sel" onclick="return Groups.switchTab(this, 'info', event)" role="link">
                Все приложения

            </div>
        </li><li>
        <a href="/community_apps?type=2000" class="ui_tab" onclick="return uiTabs.goTab(this, event, 0);">
            Бизнес
        </a>
    </li>
        <li>
            <a href="/community_apps?type=2001" class="ui_tab" onclick="return uiTabs.goTab(this, event, 0);">
                Развлечения
            </a>
        </li>
        <li>
            <a href="/community_apps?type=2002" class="ui_tab" onclick="return uiTabs.goTab(this, event, 0);">
                Мероприятия
            </a>
        </li>
        <div class="ui_tabs_slider _ui_tabs_slider" style="width: 92px; margin-left: 14px;"></div>
    </ul>
</h2>