.groups_list_search.ui_search.ui_search_new {
    margin: 20px 20px 0;
}
.ui_search.ui_search_new {
    margin: 15px;
    border-bottom: none;
}
.ui_search.ui_search_new {
    margin: 15px;
    border-bottom: none;
}
.ui_search {
    border-bottom: 1px solid #e7e8ec;
    background-color: #fff;
    position: relative;
}
.ui_search {
    border-bottom: 1px solid #e7e8ec;
    background-color: #fff;
    position: relative;
}
.ui_search_new .ui_search_input_block {
    overflow: hidden;
}
.ui_search_new .ui_search_input_block {
    overflow: hidden;
}
.ui_search_input_block {
    position: relative;
}
.ui_search_input_block {
    position: relative;
}
.ui_search_new.ui_search_field_empty .ui_search_button_search {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%221284%20207%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1298.5%20222.9C1297.5%20223.6%201296.3%20224%201295%20224%201291.7%20224%201289%20221.3%201289%20218%201289%20214.7%201291.7%20212%201295%20212%201298.3%20212%201301%20214.7%201301%20218%201301%20219.3%201300.6%20220.5%201299.9%20221.5L1302.7%20224.2C1303%20224.6%201303.1%20225.3%201302.7%20225.7%201302.3%20226%201301.6%20226%201301.2%20225.7L1298.5%20222.9ZM1295%20222C1297.2%20222%201299%20220.2%201299%20218%201299%20215.8%201297.2%20214%201295%20214%201292.8%20214%201291%20215.8%201291%20218%201291%20220.2%201292.8%20222%201295%20222Z%22%20fill%3D%22%239299A6%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") #f0f2f5 no-repeat 50%;
}
.ui_search_new.ui_search_field_empty .ui_search_button_search {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%221284%20207%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1298.5%20222.9C1297.5%20223.6%201296.3%20224%201295%20224%201291.7%20224%201289%20221.3%201289%20218%201289%20214.7%201291.7%20212%201295%20212%201298.3%20212%201301%20214.7%201301%20218%201301%20219.3%201300.6%20220.5%201299.9%20221.5L1302.7%20224.2C1303%20224.6%201303.1%20225.3%201302.7%20225.7%201302.3%20226%201301.6%20226%201301.2%20225.7L1298.5%20222.9ZM1295%20222C1297.2%20222%201299%20220.2%201299%20218%201299%20215.8%201297.2%20214%201295%20214%201292.8%20214%201291%20215.8%201291%20218%201291%20220.2%201292.8%20222%201295%20222Z%22%20fill%3D%22%239299A6%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") #f0f2f5 no-repeat 50%;
}
.ui_search_new .ui_search_button_search {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%221284%20207%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1298.5%20222.9C1297.5%20223.6%201296.3%20224%201295%20224%201291.7%20224%201289%20221.3%201289%20218%201289%20214.7%201291.7%20212%201295%20212%201298.3%20212%201301%20214.7%201301%20218%201301%20219.3%201300.6%20220.5%201299.9%20221.5L1302.7%20224.2C1303%20224.6%201303.1%20225.3%201302.7%20225.7%201302.3%20226%201301.6%20226%201301.2%20225.7L1298.5%20222.9ZM1295%20222C1297.2%20222%201299%20220.2%201299%20218%201299%20215.8%201297.2%20214%201295%20214%201292.8%20214%201291%20215.8%201291%20218%201291%20220.2%201292.8%20222%201295%20222Z%22%20fill%3D%22%239299A6%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") #f0f2f5 no-repeat 50%;
    width: 48px;
    height: 36px;
    outline: none;
    padding: 0;
    margin: 0;
    float: right;
    border: 1px solid #d3d9de;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}
.ui_search_new .ui_search_button_search {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%221284%20207%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1298.5%20222.9C1297.5%20223.6%201296.3%20224%201295%20224%201291.7%20224%201289%20221.3%201289%20218%201289%20214.7%201291.7%20212%201295%20212%201298.3%20212%201301%20214.7%201301%20218%201301%20219.3%201300.6%20220.5%201299.9%20221.5L1302.7%20224.2C1303%20224.6%201303.1%20225.3%201302.7%20225.7%201302.3%20226%201301.6%20226%201301.2%20225.7L1298.5%20222.9ZM1295%20222C1297.2%20222%201299%20220.2%201299%20218%201299%20215.8%201297.2%20214%201295%20214%201292.8%20214%201291%20215.8%201291%20218%201291%20220.2%201292.8%20222%201295%20222Z%22%20fill%3D%22%239299A6%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") #f0f2f5 no-repeat 50%;
    width: 48px;
    height: 36px;
    outline: none;
    padding: 0;
    margin: 0;
    float: right;
    border: 1px solid #d3d9de;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}
.ui_search_new .ui_search_input_inner {
    border: 1px solid #d3d9de;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(211, 217, 222);
    border-right: none;
    border-radius: 2px 0 0 2px;
    overflow: hidden;
    position: relative;
}
.ui_search_new .ui_search_input_inner {
    border: 1px solid #d3d9de;
    border-right: none;
    border-radius: 2px 0 0 2px;
    overflow: hidden;
    position: relative;
}
ui_search_new .ui_search_controls::after, .ui_search_new .ui_search_progress::after {
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
.ui_search_new .ui_search_controls::after, .ui_search_new .ui_search_progress::after {
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
.ui_search_new.ui_search_field_empty .ui_search_params_button, .ui_search_new.ui_search_field_empty .ui_search_reset_button {
    opacity: 0;
    pointer-events: none;
}
.ui_search_new.ui_search_field_empty .ui_search_button_control {
    margin-left: -5px;
}
.ui_search_new.ui_search_field_empty .ui_search_params_button, .ui_search_new.ui_search_field_empty .ui_search_reset_button {
    opacity: 0;
    pointer-events: none;
}
.ui_search_new.ui_search_field_empty .ui_search_button_control {
    margin-left: -5px;
}
.ui_search_new .ui_search_reset_button {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%221284%20159%2024%2024%22%20style%3D%22%22%3E%3Cg%20style%3D%22stroke-width%3A2%3Bstroke%3A%23828A99%22%3E%3Cpath%20d%3D%22M1301%20176L1291%20166%22%2F%3E%3Cpath%20d%3D%22M1291%20176L1301%20166%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") transparent no-repeat 50%;
}
.ui_search_new .ui_search_params_button, .ui_search_new .ui_search_reset_button {
    opacity: 0.7;
    pointer-events: all;
}
.ui_search_new .ui_search_button_control {
    border: none;
    outline: none;
    width: 30px;
    height: 100%;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-left: 0px;
    float: right;
    -o-transition: opacity 50ms linear, margin 100ms ease, transform 60ms linear, -o-transform 60ms linear;
    transition: opacity 50ms linear, margin 100ms ease, transform 60ms linear;
    transition: opacity 50ms linear, margin 100ms ease, transform 60ms linear, -o-transform 60ms linear;
}
.ui_search_new .ui_search_reset_button {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%221284%20159%2024%2024%22%20style%3D%22%22%3E%3Cg%20style%3D%22stroke-width%3A2%3Bstroke%3A%23828A99%22%3E%3Cpath%20d%3D%22M1301%20176L1291%20166%22%2F%3E%3Cpath%20d%3D%22M1291%20176L1301%20166%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") transparent no-repeat 50%;
}
.ui_search_new .ui_search_params_button, .ui_search_new .ui_search_reset_button {
    opacity: 0.7;
    pointer-events: all;
}
.ui_search_new .ui_search_button_control {
    border: none;
    outline: none;
    width: 30px;
    height: 100%;
    cursor: pointer;
    padding: 0;
    margin: 0;
    float: right;
    -o-transition: opacity 50ms linear, margin 100ms ease, transform 60ms linear, -o-transform 60ms linear;
    transition: opacity 50ms linear, margin 100ms ease, transform 60ms linear;
    transition: opacity 50ms linear, margin 100ms ease, transform 60ms linear, -o-transform 60ms linear;
}

input.ui_search_field::-moz-placeholder, input.ui_search_field:-moz-placeholder {
    color: #929eb0;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
input.ui_search_field::-moz-placeholder, input.ui_search_field:-moz-placeholder {
    color: #929eb0;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.modal-box-body .ui_search_new input.ui_search_field, .modal-box-body .ui_search_new input.ui_search_field ~ .placeholder .ph_input, .ui_search_new input.ui_search_field, .ui_search_new input.ui_search_field ~ .placeholder .ph_input {
    background: none;
    padding: 8px 70px 8px 12px;
    height: 34px;
    border: 0;
}
.modal-box-body .ui_search_new input.ui_search_field, .modal-box-body .ui_search_new input.ui_search_field ~ .placeholder .ph_input, .ui_search_new input.ui_search_field, .ui_search_new input.ui_search_field ~ .placeholder .ph_input {
    background: none;
    padding: 8px 70px 8px 12px;
    height: 34px;
    border: 0;
}
input.ui_search_field {
    background: url(//vk.com/images/search_icon.png) no-repeat;
    -ms-high-contrast-adjust: auto;
    padding-left: 28px;
    border-left: 20px solid transparent;
    background-position: 0;
    color: #000;
}
input.ui_search_field, input.ui_search_field ~ .placeholder .ph_input {
    padding: 14px 44px 13px 48px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    margin: 0;
    line-height: 18px;
}