.dev-block blockquote {
    background-color: #f0f2f5;
    border-left: 3px solid #93adc8;
    border-bottom: none;
}
.dev-block blockquote {
    padding: 10px;
    background-color: #f0f2f5;
    border-left: 3px solid #93adc8;
    margin: 10px 0px 0px;
}
.dev-block blockquote {
    word-wrap: break-word;
}