#top_profile_menu.shown {
    visibility: visible;
    opacity: 1;
    filter: none;
    pointer-events: auto;
}
#top_profile_menu {
    position: absolute;
    visibility: hidden;
    width: 160px;
    top: 5px!important;
    left: 25px!important;
    background: #fff;
    z-index: 800;
    border: 1px solid #c5d0db;
    padding: 4px 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    opacity: 0;
    filter: alpha(opacity=0);
    -o-transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
    transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
    pointer-events: none;
}
#top_profile_menu:before {
    border-width: 6px;
    margin: 0 -6px;
    border-bottom-color: #c5d0db;
}
#top_profile_menu:after, #top_profile_menu:before {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    bottom: 100%;
    right: 42px;
}
.top_profile_mrow {
    display: block;
    white-space: nowrap;
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    color: #2a5885!important;
    border: 2px solid transparent;
    -webkit-transition : border 100ms ease-out;
    -moz-transition : border 100ms ease-out;
    -o-transition : border 100ms ease-out;
}
.top_profile_mrow:hover {
   border-left: 2px solid #4a76a8;
}
#top_profile_menu.shown a:hover {
    background-color: #edeef0;
}
.top_profile_sep {
    margin: 4px 13px;
    border-top: 1px solid #dbe4ec;
}