.page_block {
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
}
.page_block_header {
    display: block;
    background: #fafbfc;
    padding: 0 20px;
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #e7e8ec;
    border-radius: 2px 2px 0 0;
    font-size: 16px;
    outline: none;
    color: #000;
}
.page_block_header_inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.encore-help-block {
    padding: 20px;
    color: #939393;
}