@charset "UTF-8";

/* === global base style === */

body {
    padding-top: 40px;
}
img {
    border: 0;
    color: transparent;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
a.hover_underline:hover {
    text-decoration: underline!important;
}
a.cursor_pointer {
    text-decoration: none;
    cursor: pointer;
}

/* — encore component base style — */

.float_left {
    float: left;
}
.float_right {
    float: right;
}

/* --- encore component clearfix style --- */

.clear {
    float: none;
    clear: both;
}
.clear_fix {
    display: block;
}
.clear_fix:after {
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

/* --- other classes --- */

.unshown {
    display: none;
}
.header_right_link {
    color: #939393;
    height: 32px;
    line-height: 40px;
    font-size: 12.5px;
    margin-right: 15px;
}
.footer_gray_text {
    padding-top: 10px;
    width: 100%;
    bottom: -32px;
    text-align: center;
    font-size: 13px;
    color: #6f7985;
}
.page-body {
    margin-top: 15px;
}
